@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
}

.board-item {
    .board-actions {
        display: none;
    }
    &:has(:hover, :focus) {
        .board-actions {
            display: flex;
        }
    }
}
.username-actions {
    @apply hidden;
}
.username {
    @apply relative w-[200px];

    &:hover {
        .username-actions {
            @apply flex p-3;
        }
        & > p {
            @apply to-blue-600;
        }
    }
}
